textarea {
  width: 400px;
  resize: none;
}

.all-move-buttons {
    padding-left: 75px;
}

.move-button {
    width: 60px;
    height: 30px;
    color: #9081BE;
    background-color: #e5d7f9;
}

#board {
    width: 400px;
}

.container {
    display: flex;
    flex-direction: row;
}

.fixed {
    width: 450px;
}

.flex-item {
    flex-grow: 1;
}

#game-info {
    width: 300px;
    height: 30px;
}

#pgn-load-message {
    white-space: pre-line;
    color: #fd7d7d;
    padding-left: 10px;
}